<section class="latest-updates container">
    <div class="inner-container">
            <h1>{{__('Latest Updates', 'crowd')}}</h1>           
            {% for update in fields.updates %}
                <div class="row">
                   {{update.update_text}}
                    {% if update.date %}<p>{{update.date}}</p> {% else %} <p>{{ post.modified|date("d M Y") }}</p> {% endif %}
                    {% if update.link %}
                        <a class="link" href="{{update.link}}">{{__('View', 'crowd')}}</a>
                    {% endif %}
                </div>  
            {% endfor %}
    </div>
    
</section>