<section class="nav-grid">
    <h1>{{__('Hello ', 'crowd')}}{% if user %}{{ user }}{% endif %}</h1>
    <div class="grid container">
        <ul>
            {% for item in fields.grid %}
            <a id="grid-item" href="{{item.link}}" data-id="{{loop.index}}">
                <li class=" {{ item.classes|join(' ') }}">
                        {% if item.icons.icon_type == 'Upload'%}
                            <img id="icon" class="" src="{{item.icons.upload_icon}}" alt=""/>
                        {% else %}
                            <i id="icon" class="resource-icon {{item.icons.fontawesome_icon}} fa-7x" style="width: 264px"></i>
                        {% endif %}
                        <h3>{{item.title}}</h3>
                    
                 </li>
            </a>
            {% endfor %}
        </ul>
        
    </div>
</section>