<a target='_blank' href='{{ share_links.facebook }}'>{{ __('Facebook', 'crowd') }}</a>
<a target='_blank' href='{{ share_links.twitter }}'>{{ __('Twitter', 'crowd') }}</a>
<a target='_blank' href='{{ share_links.whatsapp }}'>{{ __('WhatsApp', 'crowd') }}</a>