<div >
	{# {% if post.title == 'Employee Handbook'%}
		<div class="top-anchor">
			<div class="inner-container">
				<i class="fa-solid fa-chevron-left"></i>
				<h4>Test</h4>
				<i class="fa-solid fa-chevron-right"></i>
			</div>
		</div>
	{% endif %} #}
	{# {{ function('do_shortcode', '[contact-form-7 id="733" title="Handbook Form"]') }} #}
	{% if post.form_shortcode %}
		{{ function('do_shortcode', post.form_shortcode ) }}
	{% endif %}
	<div class="container">
		{% if post.title == 'New Starter Form'%}
			<div class="starter-form-footer">
				<p>{{__('PERSONAL DETAILS', 'crowd')}}</p>
			</div>
		{% else %}
			<div class="bottom">
				<a class="footer-logo" href="https://thisiscrowd.com/">
				{% set image = TimberImage(options.site_logo) %}
					<img src='{{ image.src }}' alt='{{ image.alt }}' />
				</a>
			</div>
		{% endif %}
	</div>
</div>