<nav>
    <div class="header-row container">
        <a class="header-logo" href="/">
        {% set image = TimberImage(options.site_logo) %}
            <img src='{{ image.src }}' alt='{{ image.alt }}' /><p>{{__('HUB', 'crowd')}}</p>
        </a>
        <p class="employee-name">{% if user %}{{ user }}{% endif %}</p>
        <a id="dropdown" class="burger-menu">
            <i id="dropdown_icon" class="fa-solid fa-bars fa-2x"></i>
        </a>
    </div>
    <div id='dropdown_menu' class="dropdown-menu dropdown-container">
        <ul>
        {% for item in menu.items %}
            <li class=" {{ item.classes|join(' ') }}"><a href="{{item.link}}"><i class="fa-solid fa-chevron-right"></i>{{item.title}}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% if fn('is_front_page')%}
    {% else %}
    <div class="sub-nav">
        <div class="container">
            <h1>
                {{ post.title }}
            </h1>
                {% if post.title == 'Employee Handbook' %}
                    <select name="section" id="section">
                        {% for anchor in anchors %}
                            <option value="#{{anchor.anchor}}">{{loop.index}} - {{anchor.heading}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
        </div>
    </div>
    {% endif %}
</nav>