{% extends "base.twig" %}

{% block headerTitle %}
    <div class="sub-nav">
        <div class="container">
            <h1>
                {{ post.title }}
            </h1>
            
                {% if post.page_anchors %}
                    <select name="section" id="section">
                        {% for anchor in anchors %}
                            <option value="#{{anchor.anchor}}">{{"%02d"|format(loop.index)}} - {{anchor.heading}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            {% if (post.button_toggle) and (user.read_security == "Yes") %}
                <a href="{{post.button_link}}" class="crowd-button header-button">{{post.button_label}}</a>
            {% endif %}
        </div>
    </div>
    <style> #content{ padding-top: 164px;} </style>
{% endblock %}

{% block content %}
    <div class="wp-container inner-container">
	    {{post.content}}
	</div>
{% endblock %}