<section class="download-list">
    {% if current_page_title == 'SOPs'%}
        {% set page_title = current_page_title %}
    {% endif %}
    {% if fields.title %}<h2>{{ fields.title }}</h2>{% endif %}
    {% if fields.subtitle %}<h3>{{ fields.subtitle }}</h3>{% endif %}
    {% if fields.text %}<p>{{ fields.text }}</p>{% endif %}
    {% for item in fields.downloads %}
        <div class="single-download" data-download-id="({{ page_title }}) {{ item.download_title }}" data-user-id="{{ user.id }}" data-send-request="{{ item.track_clicks }}">
            <a class="download-title" 
            href="{{ item.link.url }}"
            {% if item.download_or_link == 'Download'%}download{% endif %}
            target="{{item.link.target}}"
            >{{ item.download_title }}</a>
            <a class="crowd-button" href="{{ item.link.url }}"
            {% if item.download_or_link == 'Download'%}download{% endif %}
            target="{{item.link.target}}"
            >{{ item.link.title }}</a>
        </div>
    {% endfor %}
</section>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('.single-download').on('click', function(e) {
            // e.preventDefault();
            var user_id = $(this).data('user-id');
            var field_key = $(this).data('download-id');
            var field_value = 'Yes';
            var send_request = $(this).data('send-request')
            // Send AJAX request to update user meta
            $.ajax({
                method: 'POST',
                url: "/wp-admin/admin-ajax.php",
                data: {
                    action: 'update_user_field',
                    user_id: user_id,
                    field_key: field_key,
                    field_value: field_value,
                    send_request: send_request,
                },
                success: function(response) {
                    console.log(response.status);
                },
            });
        });
    });
</script>