<section class="download-list">
	{% if current_page_title == 'SOPs'%}
		{% set page_title = "(" ~ current_page_title ~ ") " %}
	{% endif %}
	{% if fields.title %}
		<h2>{{ fields.title }}</h2>
	{% endif %}
	{% if fields.subtitle %}
		<h3>{{ fields.subtitle }}</h3>
	{% endif %}
	{% if fields.text %}
		<p>{{ fields.text }}</p>
	{% endif %}
	{% for item in fields.downloads %}
		<div class="single-download" {% if item.tracking.click_or_toggle == false and item.tracking.track_clicks %} data-download-id="{{ page_title }}{{ item.download_title }}" data-user-id="{{ user.id }}" data-send-request="{{ item.tracking.track_clicks }}" {% endif %}>
			<a class="download-title" href="{{ item.link.url }}" {% if item.download_or_link %} download {% endif %} target="{{item.link.target}}">{{ item.download_title }}</a>
			{% if item.tracking.click_or_toggle %}
                <span class="tooltip"><span class="tooltip__text">{{ item.tracking.toggle_text }}</span>
                    <label id="download-switch" class="switch download-switch" data-download-id="{{ page_title }}{{ item.download_title }}" data-user-id="{{ user.id }}" data-send-request="{{ item.tracking.track_clicks }}">
                        <input type="checkbox" name="pill-checkbox" value="1" class="pill-checkbox handbook-pill-checkbox" id="download-pill-checkbox" aria-invalid="false">
                        <span class="pill-slider round"></span>
                    </label>
                </span>
			{% endif %}
			<a class="crowd-button" href="{{ item.link.url }}" {% if item.download_or_link == 'Download'%} download {% endif %} target="{{item.link.target}}">{{ item.link.title }}</a>
		</div>
	{% endfor %}
</section>

<script type="text/javascript">
    jQuery(document).ready(function($) {

        // button/toggle click
        $('.download-switch').on('click', function(e) {
            if($(this).data('send-request')){
                $(this).off('click');
        
                const date = new Date().toISOString().split('T')[0]
                var user_id = $(this).data('user-id');
                var field_key = $(this).data('download-id');
                var field_value = date;
                var send_request = $(this).data('send-request')
                $.ajax({
                    method: 'POST',
                    url: "/wp-admin/admin-ajax.php",
                    data: {
                        action: 'update_user_field',
                        user_id: user_id,
                        field_key: field_key,
                        field_value: field_value,
                        send_request: send_request,
                    },
                    success: function(response) {
                        console.log(response.status);
                        $('.download-switch').on('click');
                    },
                });
            }
            
        });

        // block click
        $('.single-download').on('click', function(e) {
            if($(this).data('send-request')){

                $(this).off('click');
                const date = new Date().toISOString().split('T')[0]
                var user_id = $(this).data('user-id');
                var field_key = $(this).data('download-id');
                var field_value = date;
                var send_request = $(this).data('send-request')
                // Send AJAX request to update user meta
                $.ajax({
                    method: 'POST',
                    url: "/wp-admin/admin-ajax.php",
                    data: {
                        action: 'update_user_field',
                        user_id: user_id,
                        field_key: field_key,
                        field_value: field_value,
                        send_request: send_request,
                    },
                    success: function(response) {
                        console.log(response.status);
                        $('.single-download').on('click');
                    },
                });
            }
        });
    });

    jQuery(document).ready(function($) {
        $('.download-switch').each(function() {
            var user_id = $(this).data('user-id');
            var field_key = $(this).data('download-id');
            var $label = $(this).closest('.download-switch'); 

            $.ajax({
                method: 'GET',
                url: "/wp-admin/admin-ajax.php",
                data: {
                    action: 'get_user_meta',
                    user_id: user_id,
                    field_key: field_key,
                },
                success: function(response) {
                    var userMeta = response.user_meta;
                    if (response.status === 'success') {
                            $label.addClass('checked');
                    }
                },
                error: function(error) {
                    console.error('Error fetching meta data:', error);
                },
            });
        });

        
        $('.download-switch input[type="checkbox"]').on('change', function() {
            var $label = $(this).closest('.download-switch');
            $label.toggleClass('checked', this.checked);
        });
    });

</script>
