<section class="team" id="top">
    <div class="search-section container">
        <div class="title inner-container" >
            <h1>{{__('<span>Welcome </span>to<br/>our team', 'crowd')}}</h1>
            <p>{{__('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'crowd')}}</p>
        </div>
        <div class="search-form">
        <form class="filter-form" action="">
            <div class="location-container">
                <label for="location">{{__('Location', 'crowd')}}</label><br>
                {# {% set selectedIdItems = pageTemplate.pageHeader.pageValue.comp1X|split('|') %}
                {{ selectedIdItems | json_encode(constant('JSON_PRETTY_PRINT'))}} #}
                <select name="location" id="location">
                    {% set location_field = function('get_field_object', 'field_63bd699227799' )%}
                    {% set locations = location_field['choices'] %}
                    <option value="All">{{__('All', 'crowd')}}</option>
                    {% for location in locations %}
                        <option value="{{location}}" {{ request.get.location == location ? 'selected' : '' }}>{{location}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="department-container">
                <label for="department">{{__('Department', 'crowd')}}</label><br>
                <select name="department" id="department">
                    <option value="All">{{__('All', 'crowd')}}</option>
                    {% for teams in fields.teams %}
                        <option value="{{teams.team_name}}" {{ request.get.department == teams.team_name ? 'selected' : '' }}>{{teams.team_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="skill-container">
                <label for="skill">{{__('Expert In', 'crowd')}}</label><br>
                <input type="text" id="skill" name="skill" placeholder="All" value="{{request.get.skill}}">
            </div>
            <div class="btn-container"><button type="submit">{{__('Filter', 'crowd')}}</button></div>
        </form>
        <form class="search-form" action="">
            <label for="search">{{__('Staff Search', 'crowd')}}</label><br>
            <input type="text" id="search" name="search" placeholder="Name goes here" value="{{request.get.search}}">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        </div>
    </div>
    {# <h1>LOCATION:{{ request.get.location }}</h1>
    <h1>DEPARTMENT:{{ request.get.department }}</h1>
    <h1>SEARCH:{{ request.get.search }}</h1>
    <h1>SKILL:{{ request.get.skill }}</h1> #}

    {% set loc = request.get.location %}
    {% set depart = request.get.department %}
    {% set ser = request.get.search %}
    {% set expert = request.get.skill %}


    <div class="team-section">
        {% for teams in fields.teams %}
            {% if (depart == teams.team_name) or (depart == 'All') or (depart == '')%}
                {% if (teams.team_members) %}
                {# {{ teams.team_members | json_encode(constant('JSON_PRETTY_PRINT')) }} #}
                <div class="team-row">
                    <p class="team-name">{{teams.team_name}} {{hideTrack}}</p>
                    <div class="members-list glide" id="team-sliders">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                {% for member in teams.team_members %}
                                    {% if (loc == member.location) or (loc == 'All') or (loc == '') %}
                                        {% if (expert|lower in member.skills|lower) or (expert == '')%}
                                            {% if (ser|lower in member.nickname|lower)%}
                                            <li id="slide" class="glide__slide team-member">
                                                <img src="{{function('wp_get_attachment_image_url', member.image, 'full')}}" alt="">
                                                <p class="name">{{member.nickname}}</p>
                                                <p class="job">{{member.job_title}} <span style="color: var(--orange)">&#x2022; </span>{{member.location}}</p>
                                                <div class="icons">
                                                    <a href="mailto:{{ member.user_email }}" target="_BLANK">
                                                        <span id="email_btn" class="fa-stack fa-lg" style="vertical-align: top;">
                                                            <i id="email_icon" class="fa-solid fa-circle fa-stack-2x "></i>
                                                            <i class="fa-light fa-envelope fa-stack-1x tooltip"></i>
                                                        </span>
                                                    </a>
                                                    <a href="{{ member.linkedin }}" target="_BLANK">
                                                        <span id="linkedin_btn" class="fa-stack fa-lg" style="vertical-align: top;">
                                                            <i class="fa-solid fa-circle fa-stack-2x "></i>
                                                            <i class="fa-brands fa-linkedin-in fa-stack-1x tooltip"></i>
                                                        </span>
                                                    </a>
                                                    <span id="skills_btn" class="fa-stack fa-lg" style="vertical-align: top;" onclick="clickSkills(this, {{member.id}})">
                                                        <i class="fa-solid fa-circle fa-stack-2x "></i>
                                                        <i class="fa-light fa-head-side-brain fa-stack-1x tooltip"></i>
                                                    </span>
                                                </div>
                                                <div id="skills_{{member.id}}" class="skills">
                                                    {{ member.skills }}
                                                </div>
                                            </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %} 
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        <div class="back-top-top">
            <a class="to-top-btn" href="#top">{{__('Back to Top', 'crowd')}}</a>
        </div>
    </div>
   

</section>

<script>

function clickSkills(element, userId){
    // var skills = document.getElementById('skills_' + userId.toString());
    var skills = document.querySelectorAll('#skills_' + userId.toString());

    if(!element.classList.contains('icon-clicked')){
        element.classList.add("icon-clicked")
        Array.from(skills)
            .forEach(function(val) {
                val.style.visibility = 'visible';
        });
        // skills.style.display = 'block';
    }else{
        element.classList.remove("icon-clicked")
        Array.from(skills)
            .forEach(function(val) {
                val.style.visibility = 'hidden';
        });
        
        // skills.style.display = 'none';
    }
    
}

function hideEmptyParents(){
    const parent = document.querySelectorAll('.team-row');
    parent.forEach(p => {
        const children = p.querySelectorAll('.glide__slide');
        if(children.length == 0){
            console.log("CHILDREN EMPTY")
            p.style.display = 'none'
        }
    })
}

hideEmptyParents()
    



</script>