<section class="team ">
    <div class="search-section container">
        <div class="title inner-container">
            <h1><span>Welcome </span>to<br/>our team</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="search-form">
        {# TODO: SEARCH FORM HERE #}
        <form action="">
            <label for="search">Staff Search</label><br>
            <input type="text" id="search" name="search" placeholder="Name goes here">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        </div>
    </div>
    <div class="team-section">
        {# {% set users = function('get_user_meta', )%}
        {{ users | json_encode(constant('JSON_PRETTY_PRINT')) }} #}
        {% for teams in fields.teams %}
        <div class="team-row">
            <p class="team-name">{{teams.team_name}}</p>
            <div class="members-list glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for member in teams.team_members %}
                            <li class="glide__slide team-member">
                                {# {% set user = function('get_user_meta', member.id )%}
                                {{ user | json_encode(constant('JSON_PRETTY_PRINT')) }} #}
                                {# {{ member | json_encode(constant('JSON_PRETTY_PRINT')) }} #}
                                
                                <img src="{{function('wp_get_attachment_image_url', member.image, 'full')}}" alt="">
                                <p class="name">{{member.nickname}}</p>
                                <p class="job">{{member.job_title}} <span style="color: var(--orange)">&#x2022; </span>{{member.location}}</p>
                                <span id="email_btn" class="fa-stack fa-lg" style="vertical-align: top;">
                                    <i class="fa-solid fa-circle fa-stack-2x "></i>
                                    <i class="fa-solid fa-envelope fa-stack-1x tooltip"></i>
                                </span>
                                <span id="linkedin_btn" class="fa-stack fa-lg" style="vertical-align: top;">
                                    <i class="fa-solid fa-circle fa-stack-2x "></i>
                                <i class="fa-brands fa-linkedin-in fa-stack-1x tooltip"></i>
                                </span>
                                <span id="skills_btn"class="fa-stack fa-lg" style="vertical-align: top;">
                                    <i class="fa-solid fa-circle fa-stack-2x "></i>
                                    <i class="fa-solid fa-brain fa-stack-1x tooltip"></i>
                                </span>
                                <div id="email" class="email">
                                    {{ member.user_email }}
                                </div>
                                <div id="linkedin" class="linkedin">
                                    {{ member.linkedin }}
                                </div>
                                <div id="skills" class="skills">
                                    {{ member.skills }}
                                </div>
                            </li>
                        {% endfor %} 
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>